/*
 * Remove template code below
 */
:host {
  display: block;
  font-family: sans-serif;
  min-width: 300px;
  max-width: 600px;
  margin: 50px auto;

  .d-flex {
    display: flex;
    flex-direction: row;
  }
  .d-flex.flex-column {
    flex-direction: column;
  }
  .d-flex.align-items-center {
    align-items: center;
  }
  .d-flex.justify-content-center {
    justify-content: center;
  }
  .text-center {
    text-align: center;
  }
}

